{% extends 'template.html' %}

{% block title%}

КОНТЕНТ
{% endblock %}

{% block body%}
<h1>Тут главный контент</h1>
	<div class="wrapper">
        <header class="header">Тут должен был быть хедер</header>
		<div class="container">
			<nav class="left-sidebar">а тут сайдбар</nav>
			<main class="content">
				<ul id="navigation">
    				{% for i in range(1,11) %}
					<article class="post">
						а тут пост номер {{i}}
					</article>
    				{% endfor %}
    			</ul>
			</main>
		</div>
		<div class="footer">А ТУТ ФУТЕР</div>
	</div>
{% endblock %}

