

.header {
    margin-bottom: 10px;
    text-align: center;
}

.left-sidebar{
    width: 25em border-box;
}
.content{
    width: 75em border-box;
    margin-left: 10px;
    margin-right: 10px;
}

.post {
    margin: 5px auto;
}

.footer {
    margin-top: 10px;
}

